body {
  margin:0px;
  padding:0px;
  font-family: 'Sawarabi Mincho', sans-serif;
  background-color:#303030;
  color:aliceblue;
  text-decoration:none;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}
#glowny_label {
    width: 960px;
    margin:20px;

}
#logo {
    color: aliceblue;
    padding: 10px;
    float: left;
    width: 500px;
    font-size: 70px;
    text-shadow: 2px 2px rgba(1, 0, 0, 0.69);
}
time {
    color: aliceblue;
    padding: 10px;
    float: left;
    font-size: 70px;
    margin: 50px 0px;
    text-shadow: 2px 2px rgba(1, 0, 0, 0.69);
    
}
.container2
{
    float:left;
    width:50%;
}

.kafelek1 {
    text-align: center;
    width: 230px;
    height: 142px;
    margin: 10px;
    float: left;
    background-color: #0066FF;
    transition: ease-out 1s;
    transition-duration:1s;
    
}
.kafelek1:hover {
    text-align: center;
    width: 230px;
    height: 142px;
    margin: 10px;
    float: left;
    background-color: #0044EE;
    border-radius:100px 10px;
  
}



.kafelek2 {
    text-align: center;
    width: 230px;
    height: 142px;
    margin: 10px;
    float: left;
    background-color: #00CC33;
    transition: ease-out 1s;
    
    
}
.kafelek2:hover {
    text-align: center;
    width: 230px;
    height: 142px;
    margin: 10px;
    float: left;
    background-color: #00AA22;
    border-radius:10px 100px;
    
}
    
.kafelek3
{
    margin:10px;
    width:480px;
    height:304px;
    background-color:#666666;
    float:left;
}
.kafelek4 {
    text-align: center;
    width: 230px;
    height: 142px;
    margin: 10px;
    float: left;
    background-color: #666666;
    transition:ease-out 1s;
}
.kafelek4:hover {
    text-align: center;
    width: 230px;
    height: 142px;
    margin: 10px;
    float: left;
    background-color: #444444;
    border-radius:10px 100px;
}
.podpis {
    margin-bottom: 20px;
    color: aliceblue;
    position: relative;
    text-shadow: 2px 2px rgba(1, 0, 0, 0.69);
}
#motto {
    width: 380px;
    height: 42px;
    margin:10px;
    background-color:#FF6633;
    float:left;
    text-align:center;
    padding:50px;
    font-size:26px;
    
}
.yt {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #d94348;
    float: left;
    text-align: center;
    border-radius:5px;
    transition: ease 1s;
}
.yt:hover
{
    background-color:aliceblue;
}
.icon-youtube {
    display: block;
    height: 100%;
    width: 100%;
    transition: ease 1s;
}
.icon-youtube:hover 
{
    color: #d94348;
}
.fb {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #4668b3;
    float: left;
    text-align: center;
    border-radius: 5px;
    transition: ease 1s;
}
.fb:hover
{
    background-color:aliceblue;
}
.icon-facebook
{
     display: block;
    height: 100%;
    width: 100%;
    transition: ease 1s;
}
.icon-facebook:hover 
{
    color: #4668b3;
}
.gp {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #d34836;
    float: left;
    border-radius: 5px;
    transition: ease 1s;
}
.gp:hover
{
    background-color:aliceblue;
}
.icon-gplus
{
     display: block;
    height: 100%;
    width: 100%;
    transition: ease 1s;
}
.icon-gplus:hover 
{
    color: #d34836;
}
.tw {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: deepskyblue;
    float: left;
    text-align: center;
    border-radius: 5px;
    transition: ease 1s;
}
.tw:hover
{
    background-color:aliceblue;
}
.icon-twitter-bird {
    display: block;
    height: 100%;
    width: 100%;
    transition: ease 1s;
    
}
.icon-twitter-bird:hover 
{
    color: deepskyblue;
}
#social {
    width: 100%;
    height: 100%;
    clear:both;
    
}
.ikona
{
    text-shadow:2px 2px rgba(1, 0, 0, 0.69);
}
